.nav {
    grid-area: n;
    background-color:darkgreen;
}

.item {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}